
{% extends 'base.html' %}


{% block content %}
    <h1>Sobre o EventosIF</h1>
    <p>O EventosIF é uma plataforma de 
        gerenciamento de eventos desenvolvida
         para facilitar a organização e participação 
         em eventos acadêmicos e profissionais. 
         Nossa missão é proporcionar uma experiência
          eficiente e intuitiva para todos os usuários.</p>
    <p>Com o EventosIF, você pode:</p>
    <ul>
        <li>Criar e gerenciar eventos de forma simples.</li>
        <li>Inscrever-se em eventos de interesse.</li>
        <li>Acompanhar atualizações e notificações sobre os eventos.</li>
    </ul>
    <p>Nosso objetivo é promover
         a interação entre participantes e 
         organizadores, tornando cada evento uma experiência memorável.</p>
{% endblock %}